# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
*.egg-info/
*.egg
*.log
*.tmp

# Build files
build/
dist/

# System files
.DS_Store
Thumbs.db
*.swp

# Other
clipboard_image.png
*.tmp
